<% include layout/platform.html %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN</title>
    <link href="lib/sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" href="lib/awesomplete-gh-pages/awesomplete.css"> -->
    <link rel="stylesheet" href="lib/awesomplete-gh-pages/prism/prism.css" />
    <link rel="stylesheet" href="lib/awesomplete-gh-pages/awesomplete.css" />
    <!-- <link rel="stylesheet" href="lib/awesomplete-gh-pages/style.css" /> -->
    <script src="lib/awesomplete-gh-pages/awesomplete.js"></script>
    <!-- <script src="lib/awesomplete-gh-pages/index.js"></script> -->

	<style>
		.table.receta input{
			padding: 3px;
		}
		.breadcrumb li{
            font-size: 16px;
        }
        .input-group-addon{
            cursor: pointer;
        }
        body .panel-body input{
            font-size:20px;
        }
	</style>
    </head>
<body>
    <!-- /#wrapper -->
    <%-menu()%>
    <!-- Page Content -->
    <div id="page-wrapper">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
		                <div class="col-lg-12">
		                    <ol class="breadcrumb">
		                      <li><a href="#">Receta</a></li>
		                      <li class="active"><%=idr!=0?"Actualizar":"Registrar"%></li>
		                    </ol>
		                </div>
		            </div>    
                </div>
            </div>
            <div class="row" id='search_patient_row'>
                <div class="col-lg-8">
					<div class="custom-search-form" >
                        <input type="text" class="form-control awesomplete" placeholder="Busqueda de Paciente" id='search_patient'
                        style="">
                        <!-- <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span> -->
                    </div>
				</div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%=idr!=0?"Actualización de Receta":"Registro de Receta" %>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" id='cod_receta' style='display: none;'>
                                        <label>Cod.Receta</label>
                                        <input class="form-control" id='id_receta' value='<%=idr%>' disabled>
                                    </div>
                                    <div class="form-group">
                                        <label onclick="$('#search_patient').focus();" style="cursor:pointer;">Paciente <span style='color:#4066D3;'>#<span id='id_paciente'><%=idp%></span></span></label>
                                        <input class="form-control" id='fullname' value='<%=fullname%>' disabled>
                                    </div>
                                    <table class='table receta' border="1" style='border:5px #F2F2F2 solid;'>
                                    	<tr>
                                            <td></td>
                                            <th>Esf.</th>
                                    		<td></td>
                                    		<th>Cil.</th>
                                    		<th>Eje.</th>
                                    	</tr>
                                    	<tr>
                                    		<th>OD.</th>
                                            <!-- <td><input type="text" class="form-control" value="" id="esf_od"></td> -->
                                    		<td style="background-color: #EDFFF0;">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon" style='width: 50px;' onclick="$('#esf_od').val('+'); $('#esf_od').focus();">
                                                        <span style='font-size:17px;'><font color='blue'>+</font></span>
                                                    </span>&nbsp;
                                                    <span class="input-group-addon" style='width: 50px;' onclick="$('#esf_od').val('-'); $('#esf_od').focus();">
                                                        <span style='font-size:17px;'><font color='red'>-</font></span>
                                                    </span>
                                                </div>
                                                    <input data-list="-5.00,-4.75,-4.50,-4.25,-4.00,-3.75,-3.50,-3.25,-3.00,-2.75,-2.50,-2.25,-2.00,-1.75,-1.50,-1.25,-1.00,-1.75,-1.50,-1.25,-1.00,-0.75,-0.50,-0.25,-0.00,+0.00,+0.25,+0.50,+0.75,+1.00,+1.25,+1.50,+1.75,+2.00,+2.25,+2.50,+2.75,+3.00,+3.25,+3.50,+3.75,+4.00,+4.25,+4.50,+4.75,+5.0" class="dropdown-input-esf-od form-control" width='100%' id="esf_od"/><button class="dropdown-btn-esf-od" type="button"><span class="caret"></span></button>
                                                
                                            </td>
                                            <td></td>
                                            <!-- <td><input type="text" class="form-control" value="" id="cil_od"></td> -->
                                    		<td style="background-color: #E3FFE7;">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon" style="width: 50px;" onclick="$('#cil_od').val('-');$('#cil_od').focus(); "><span style='font-size:17px;'><font color='red'>-</font></span>
                                                    </span>
                                                </div>
                                                    <input data-list="-5.00,-4.75,-4.50,-4.25,-4.00,-3.75,-3.50,-3.25,-3.00,-2.75,-2.50,-2.25,-2.00,-1.75,-1.50,-1.25,-1.00,-1.75,-1.50,-1.25,-1.00,-0.75,-0.50,-0.25,-0.00" class="dropdown-input-cil-od form-control" id="cil_od" style="width: 100%;"/><button class="dropdown-btn-cil-od" type="button"><span class="caret"></span></button>
                                            </td>
                                    		<td style="background-color: #E3FFE7;">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon" style="width: 50px;" onclick="$('#eje_od').focus();"><span style="font-size:17px;"><font color='gray'>Escala</font></span>
                                                    </span>
                                                </div>
                                                <input type="number" class="form-control" value="" id="eje_od">
                                            </td>
                                    	</tr>
                                    	<tr>
                                    		<th>OI.</th>
                                    		<td style="background-color: #F9FEE6;">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon" style='width: 50px;' onclick="$('#esf_oi').val('+'); $('#esf_oi').focus();">
                                                        <span style='font-size:17px;'><font color='blue'>+</font></span>
                                                    </span>&nbsp;
                                                    <span class="input-group-addon" style='width: 50px;' onclick="$('#esf_oi').val('-'); $('#esf_oi').focus();">
                                                        <span style='font-size:17px;'><font color='red'>-</font></span>
                                                    </span>
                                                </div>
                                                    <input data-list="-5.00,-4.75,-4.50,-4.25,-4.00,-3.75,-3.50,-3.25,-3.00,-2.75,-2.50,-2.25,-2.00,-1.75,-1.50,-1.25,-1.00,-1.75,-1.50,-1.25,-1.00,-0.75,-0.50,-0.25,-0.00,+0.00,+0.25,+0.50,+0.75,+1.00,+1.25,+1.50,+1.75,+2.00,+2.25,+2.50,+2.75,+3.00,+3.25,+3.50,+3.75,+4.00,+4.25,+4.50,+4.75,+5.0" class="dropdown-input-esf-oi form-control" width='100%' id="esf_oi"/><button class="dropdown-btn-esf-oi" type="button"><span class="caret"></span></button>
                                            </td>
                                            <td>&nbsp;&nbsp;</td>
                                    		<td style="background-color: #F7FFD7;">
                                                <div class="form-group input-group">
                                                    
                                                    <span class="input-group-addon" style='width: 50px;' onclick="$('#cil_oi').val('-'); $('#cil_oi').focus();">
                                                        <span style='font-size:17px;'><font color='red'>-</font></span>
                                                    </span>
                                                </div>
                                                    <input data-list="-5.00,-4.75,-4.50,-4.25,-4.00,-3.75,-3.50,-3.25,-3.00,-2.75,-2.50,-2.25,-2.00,-1.75,-1.50,-1.25,-1.00,-1.75,-1.50,-1.25,-1.00,-0.75,-0.50,-0.25,-0.00" class="dropdown-input-cil-oi form-control" width='100%' id="cil_oi"/><button class="dropdown-btn-cil-oi" type="button"><span class="caret"></span></button>

                                            </td>
                                    		<td style="background-color: #F7FFD7;">
                                                <div class="form-group input-group">
                                                    <span class="input-group-addon" style="width: 50px;" onclick="$('#eje_oi').focus();"><span style="font-size:17px;"><font color='gray'>Escala</font></span>
                                                    </span>
                                                </div>
                                            <input type="number" class="form-control" value="" id="eje_oi"></td>

                                    	</tr>
                                    </table>
                                    <table class='table' border="1" style='border:5px #F2F2F2 solid;'>
                                    	<tr>
                                    		<th>ADD</th>
                                    		<th colspan="2">DIP</th>
                                    		<th colspan="2">EDAD</th>
                                    	</tr>
                                    	<tr>

                                    		<td>
                                                <div class="form-group input-group">
                                                        
                                                        <span class="input-group-addon" style='width: 50px;' onclick="$('#add').val('+'); $('#add').focus();">
                                                            <span style='font-size:12px;'><font color='blue'>+</font></span>
                                                        </span>
                                                    </div>
                                                <input data-list="+0.25,+0.50,+0.75,+1.00,+1.25,+1.50,+1.75,+2.00,+2.25,+2.50,+2.75,+3.00,+3.25,+3.50,+3.75,+4.00,+4.25,+4.50" class="dropdown-input-add form-control" width='100%' id="add"/><button class="dropdown-btn-add" type="button"><span class="caret"></span></button>
                                                <!-- <input type="text" class="form-control" value="" id="add"> -->
                                            </td>

                                    		<td><br><br><input type="text" class="form-control" value="" id="dip1"></td>
                                    		<td><br><br><input type="text" class="form-control" value="" id="dip2"></td>
                                    		<td><br><br><input type="text" class="form-control" value="" id="edad"></td>
                                    		<th><br><br>años</th>
                                    	</tr>
                                    </table>


                                </div>
                            </div>
							<div class="row">
								<div class="col-lg-2">
                                    <br>
                                    <br>
									<label>Producto: </label>
								</div>
								<div class="col-lg-10">
                                    <div class="form-group input-group">
                                        <span class="input-group-addon" style="width: 50px;" onclick="$('#producto').val('MONOFOCAL ');$('#producto').focus();"><span style="font-size:14px;"><font color='gray'>MONOFOCAL</font></span>
                                        </span>
                                        <span class="input-group-addon" style="width: 50px;" onclick="$('#producto').val('BIFOCAL ');$('#producto').focus();"><span style="font-size:14px;"><font color='gray'>BIFOCAL</font></span>
                                        </span>
                                        <span class="input-group-addon" style="width: 50px;" onclick="$('#producto').val('MULTIFOCAL ');$('#producto').focus();"><span style="font-size:14px;"><font color='gray'>MULTIFOCAL</font></span>
                                        </span>
                                    </div>
									<input type="text" class="form-control" id="producto">
								</div>
							</div>
                            <br>
                            <div class="row">
                                <div class="col-lg-2"><label>Precio: </label> S/.</div>
                                <div class="col-lg-2"><input type="text" class="form-control" value=""  id="precio" placeholder="00.00"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Recomendaciones</label>
                                        <textarea class="form-control" id="recomendaciones" ></textarea>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Lugar de Registro</label>
                                        <select id="optica" class='form-control'>
                                            <option value="Seleccione">Seleccione</option>
                                            <option value="INNOVA">ÓPTICA INNOVA</option>
                                            <option value="ZOOM PERU PUERTO">ÓPTICA ZOOM PERU PUERTO</option>
                                            <option value="ZOOM PERU PAMPA">ÓPTICA ZOOM PERU PAMPA</option>
                                        </select>
                                        <p class="help-block">En este campo debera seleccionar la optica en donde registro al Paciente</p>
                                    </div>
                                </div>
                            </div>
							<br>
							<div class="row">

								<div class="col-lg-1">
									<label>Fecha: </label>
								</div>
								<div class="col-lg-4">
									<input type="date" class="form-control" value="" id="timestamp_aux">
								</div>
							</div>
							<br>
                            <div class="row">
                                <div class="col-lg-12" align="center">
                                    <button type="button" class="btn btn-success btn-lg" id='btn_registrar' onclick="receta_register()">
                                    <img src="img/gif/loading2.gif" width="40" id='loading' style='display: none;'>
                                    Registrar Receta</button>
                                    <span class='button-actions'></span>
                                	
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="lib/sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="lib/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="lib/sb-admin-2/dist/js/sb-admin-2.js"></script>
	
    <script src="js/luitor.js"></script>
    <script>
    $(document).ready(function() {
        
        var comboplete1 = new Awesomplete('input.dropdown-input-esf-od', {
            minChars: 0
            ,autoFirst:true
            ,sort:false
        });
        Awesomplete.$('.dropdown-btn-esf-od').addEventListener("click", function() {
            if (comboplete1.ul.childNodes.length === 0) {
                comboplete1.minChars = 0;
                comboplete1.evaluate();
            }
            else if (comboplete1.ul.hasAttribute('hidden')) {
                comboplete1.open();
            }
            else {
                comboplete1.close();
            }
        });
        var comboplete2 = new Awesomplete('input.dropdown-input-cil-od', {
            minChars: 0
            ,autoFirst:true
            ,sort:false
        });
        Awesomplete.$('.dropdown-btn-cil-od').addEventListener("click", function() {
            if (comboplete2.ul.childNodes.length === 0) {
                comboplete2.minChars = 0;
                comboplete2.evaluate();
            }
            else if (comboplete2.ul.hasAttribute('hidden')) {
                comboplete2.open();
            }
            else {
                comboplete2.close();
            }
        });
        var comboplete3 = new Awesomplete('input.dropdown-input-esf-oi', {
            minChars: 0
            ,autoFirst:true
            ,sort:false
        });
        Awesomplete.$('.dropdown-btn-esf-oi').addEventListener("click", function() {
            if (comboplete3.ul.childNodes.length === 0) {
                comboplete3.minChars = 0;
                comboplete3.evaluate();
            }
            else if (comboplete3.ul.hasAttribute('hidden')) {
                comboplete3.open();
            }
            else {
                comboplete3.close();
            }
        });
        var comboplete4 = new Awesomplete('input.dropdown-input-cil-oi', {
            minChars: 0
            ,autoFirst:true
            ,sort:false
        });
        Awesomplete.$('.dropdown-btn-cil-oi').addEventListener("click", function() {
            if (comboplete4.ul.childNodes.length === 0) {
                comboplete4.minChars = 0;
                comboplete4.evaluate();
            }
            else if (comboplete4.ul.hasAttribute('hidden')) {
                comboplete4.open();
            }
            else {
                comboplete4.close();
            }
        });
        var comboplete5 = new Awesomplete('input.dropdown-input-add', {
            minChars: 0
            ,autoFirst:true
            ,sort:false
        });
        Awesomplete.$('.dropdown-btn-add').addEventListener("click", function() {
            if (comboplete5.ul.childNodes.length === 0) {
                comboplete5.minChars = 0;
                comboplete5.evaluate();
            }
            else if (comboplete5.ul.hasAttribute('hidden')) {
                comboplete5.open();
            }
            else {
                comboplete5.close();
            }
        });

        $("#esf_od").keyup(function(e) {
            if(this.value.length == 2 && e.keyCode != 8 )
                $(this).val( this.value +".");        
        });

        $("#cil_od").keyup(function(e) {
            if(this.value.length == 2 && e.keyCode != 8 )
                $(this).val( this.value +".");
        });
        $("#esf_oi").keyup(function(e) {
            if(this.value.length == 2 && e.keyCode != 8 )
                $(this).val( this.value +".");        
        });

        $("#cil_oi").keyup(function(e) {
            if(this.value.length == 2 && e.keyCode != 8 )
                $(this).val( this.value +".");
        });
        $("#add").keyup(function(e) {
            console.log("asa");
            if(this.value.length == 2 && e.keyCode != 8 )
                $(this).val( this.value +".");
        });
    });
        
    </script>
    <script>
        var awesomplete;
        $(document).ready(function() {
            paciente_getlist();
            $("#timestamp_aux").val($l.getFechaStr(new Date()));
            <%if(idr!=0 && idp==0){%>
                $("#search_patient_row").hide(); 
                $("#cod_receta").show();
                //Preparando para actualizar
                receta_get();
                $("#btn_registrar").html("Actualizar");
                $("#btn_registrar").removeClass('btn-primary').addClass('btn-info');
            <%}else if(idp!=0){%>
                $("#search_patient_row").hide();
                paciente_get();
            <%}%>
        });
        function paciente_get(){

            $("#cod_receta").hide();
            $.post('/paciente_get', {
                idp: '<%=idp%>'
            }, function(dt, textStatus, xhr) {
                $("#id_receta").val("");
                $("#id_paciente").val(dt[0].id_paciente);
                $("#fullname").val(dt[0].fullname);
                $("#edad").val(dt[0].yearold);
            });
        }
        function receta_get(){
            $.post('/receta_get', {
                idr: '<%=idr%>'
            }, function(dt, textStatus, xhr) {
                console.log(dt[0]);
                $("#esf_od").val(dt[0].esf_od);
                $("#esf_oi").val(dt[0].esf_oi);
                $("#cil_od").val(dt[0].cil_od);
                $("#cil_oi").val(dt[0].cil_oi);
                $("#eje_od").val(dt[0].eje_od);
                $("#eje_oi").val(dt[0].eje_oi);
                $("#add").val(dt[0].add);
                $("#dip1").val(dt[0].dip1);
                $("#dip2").val(dt[0].dip2);
                $("#edad").val(dt[0].edad);
                $("#recomendaciones").val(dt[0].recomendaciones);
                $("#producto").val(dt[0].producto);
                $("#precio").val(dt[0].precio);
                $("#timestamp_aux").val(dt[0].timestamp_aux.split("T")[0]);
                $("#id_paciente").html(dt[0].id_paciente);
                $("#fullname").val(dt[0].fullname);
                $("#optica").val(dt[0].optica);

            });
        }
        function receta_register(){
            var obj_in = {
                id_receta: $("#id_receta").val()
                ,esf_od: $("#esf_od").val()
                ,esf_oi: $("#esf_oi").val()
                ,cil_od: $("#cil_od").val()
                ,cil_oi: $("#cil_oi").val()
                ,eje_od: $("#eje_od").val()
                ,eje_oi: $("#eje_oi").val()
                // ,prisma_od: $("#prisma_od").val()
                // ,prisma_oi: $("#prisma_oi").val()
                // ,av_od: $("#av_od").val()
                // ,av_oi: $("#av_oi").val()
                ,add: $("#add").val()
                ,dip1: $("#dip1").val()
                ,dip2: $("#dip2").val()
                ,edad: $("#edad").val()
                ,recomendaciones: $("#recomendaciones").val()
                ,producto: $("#producto").val()
                ,precio: $("#precio").val()
                ,timestamp_aux: $("#timestamp_aux").val()
                ,id_paciente: $("#id_paciente").html()
                ,fullname: $("#fullname").val()
                ,optica: $("#optica").val()
            }
            var err = verify(obj_in);
            console.log("Error: "+err);
            if(err){
                $("#loading").hide();
                return;
            }
            // alert($("#optica").val());
            console.log("enviando al servidor");
            // return;
            $.post('/receta_register', obj_in, function(id_receta, textStatus, xhr) {
                $("#loading").hide();
                if(id_receta){
                    clearInputs();
                    window.location.href='admin_patientRecord?idp='+obj_in.id_paciente;
                    
                }
            });
        }
        function verify(obj_in){
            console.log("-------------------------------------------------");
            console.log("Resultado de verificación");
            var err = false;
            var med = false;
            for(i in obj_in){
                $("#"+i).css('background','');
                //Verificación de Campos vacios
                if(obj_in[i] == null || obj_in[i] == "" || obj_in[i] == 0 || obj_in[i] == 'Seleccione' ){

                    

                    //exeptions - No obigatorios
                    if( i == 'recomendaciones' || i=='producto' 
                        || i=='esf_od' || i=='cil_od' || i=='esf_oi' || i=='cil_oi' 
                        || i=='id_receta' || i=='eje_od' || i=='eje_oi'
                        || i=='add' || i=='dip2' || i=='edad' || i=='timestamp_aux' || i=='precio' )
                        continue;
                    console.log("[*obligatorio]>> "+i);
                    err =true;
                    $("#"+i).css('background','#FFDEDE').focus();
                }
            }
            console.log("err: "+err);
            //Medida -- Si todos las medidas estan en blanco, automaticamente se ponen en 0.00
            if(err)
                return err;
            if( $("#eje_od").val() != "" || $("#cil_od").val() != "" ){
                err=true;
                //par completado
                if( $("#eje_od").val() != "" && $("#cil_od").val() != "" )
                    err=false;
                if($("#eje_od").val() == "")
                    $("#eje_od").css("background","#F7B2B2").focus();
                if($("#cil_od").val() == "")
                    $("#cil_od").css("background","#F7B2B2").focus();
            }
            if(err)
                return err;
            if( $("#eje_oi").val() != "" || $("#cil_oi").val() != "" ){
                err=true;
                //par completado
                if( $("#eje_oi").val() != "" && $("#cil_oi").val() != "" )
                    err=false;
                if($("#eje_oi").val() == "")    
                    $("#eje_oi").css("background","#F7B2B2").focus();
                if($("#cil_oi").val() == "")
                    $("#cil_oi").css("background","#F7B2B2").focus();
            }
            return err;
        }
        function clearInputs(){
            $("input,textarea").val("");
            $("#timestamp_aux").val($l.getFechaStr(new Date()));
        }
        var listAll = [];
        var patients = [];
        function paciente_getlist(){
            $.post('/paciente_getlist', {
            }, function(dt, textStatus, xhr) {
                var input = document.getElementById("search_patient");
                awesomplete = new Awesomplete(input);
                for(i in dt){
                    listAll.push(dt[i].fullname+" [Cod:"+dt[i].id_paciente+"]");
                    patients[dt[i].id_paciente] = dt[i];
                }
                awesomplete.list = listAll;
                awesomplete.autoFirst = true;
            });
        }
        function awesomplete_select(){
            try{
                var item = $("#search_patient").val();
                var arr = item.split(" [Cod:");
                var fullname = arr[0];
                var idp = arr[1].split("]")[0];
                $("#id_paciente").html(idp);
                $("#fullname").val(fullname);
                $("#edad").val(patients[idp].yearold);
                $(".button-actions").html(
                    "<a href=\"admin_patientRecord?idp="+idp+"\" target='_blank' class='btn btn-primary btn-lg' style='' role='button'>Ver ultimas recetas</a>"
                );
            }catch(ex){
                console.log(ex);
            }
            

            // console.log(fullname+" "+idp);
        }

    </script>
    </body>
</html>
