<% include layout/platform.html %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN</title>
    <link href="lib/sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="lib/awesomplete-gh-pages/awesomplete.css">
    <style>
        .breadcrumb li{
            font-size: 16px;
        }
    </style>
</head>

<body>
    <!-- /#wrapper -->
    <%-menu()%>
    <!-- Page Content -->
    <div id="page-wrapper">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <ol class="breadcrumb">
                      <li><a href="#">Paciente</a></li>
                      <li class="active"><%=edit==true?"Actualizar":"Registrar"%></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <%=edit==true?"Actualización de datos del paciente":"Registro de Paciente"%>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <% var visible = "none";%>
                                    <% if(idp != "") visible= "";%>
                                    <div class="form-group" style="display: <%=visible%>;">
                                        <label>Cod.</label>
                                        <input class="form-control" disabled value="<%=idp%>">
                                        <p class="help-block">El cod. es el codigo de identificación del paciente generado por el sistema</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Nombres Y Apellidos: </label>
                                        <input class="form-control" id="fullname" class="awesomplete" style='font-size: 20px;'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <label>Edad</label>
                                        <input class="form-control" type='number' id="yearold" style='font-size: 19px;'>
                                        <p class="help-block">Solo numeros</p>
                                    </div>
                                </div>
                                <div class="col-lg-10">
                                    <div class="form-group">
                                        <label>Telefono</label>
                                        <input class="form-control" id="telephone" style='font-size: 19px;'>
                                        <p class="help-block">Ejemplo: 935123456</p>
                                    </div>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Lugar de Registro</label>
                                        <select id="optica" class='form-control' style='font-size: 17px;'>
                                            <option value="Seleccione">Seleccione</option>
                                            <option value="INNOVA">OPTICA INNOVA</option>
                                            <option value="ZOOM PERU PUERTO">OPTICA ZOOM PERU PUERTO</option>
                                            <option value="ZOOM PERU PAMPA">OPTICA ZOOM PERU PAMPA</option>
                                        </select>
                                        <p class="help-block">En este campo debera seleccionar la optica en donde registro al Paciente</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Fecha de registro</label>
                                        <input class="form-control" type="date" id="datetime">
                                        <p class="help-block">dia/mes/año</p>
                                    </div>
                                    <button type="button" class="btn btn-primary btn-lg center-block" onclick="paciente_register()" id='btn_registrar'><img src="img/gif/loading2.gif" width="40" id='loading' style='display: none;'>Registrar Paciente</button>
                                    <br>
                                    <div class="alert alert-success" style='display: none;' id='alert_msn'>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <script src="lib/sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="lib/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="lib/sb-admin-2/dist/js/sb-admin-2.js"></script>
    <script src="js/luitor.js"></script>
    <script src="lib/awesomplete-gh-pages/awesomplete.js"></script>
    <script>
    $(document).ready(function() {
        $("#datetime").val($l.getFechaStr(new Date()));

        <%if(idp!=0 && edit){%> 
            //Preparando para actualizar
            paciente_get();
            $("#btn_registrar").html("Actualizar");
            $("#btn_registrar").removeClass('btn-primary').addClass('btn-info');
        <%}else{%>
            paciente_getlist();
        <%}%>

        $("#fullname").focus();
    });
    function paciente_verifyXfullname(callback){
        $.post('/paciente_verifyXfullname', {
            fullname: $("#fullname").val()
        }, function(dt, textStatus, xhr) {
            callback(dt);
        });
    }
    var listAll;
    var listAll_cod;
    function paciente_getlist(){
        listAll = [];
        listAll_cod = [];
        $.post('/paciente_getlist', {
        }, function(dt, textStatus, xhr) {
            var input = document.getElementById("fullname");
            awesomplete = new Awesomplete(input);
            for(i in dt){
                listAll.push(dt[i].fullname);
                listAll_cod.push(dt[i].id_paciente);
            }
            awesomplete.list = listAll;
            awesomplete.autoFirst = true;

            // $("#fullname").css('width','400px');
            $("#fullname").focus();
        });
    }
    function awesomplete_select(){
        var item = $("#fullname").val();
        var exist = false;
        var idp = 0;
        for( i in listAll ){
            if( listAll[i] == item ){
                exist = true;
                idp = listAll_cod[i];

            }
        }
        window.location.href='admin_patientRecord?idp='+idp;
        // var arr = item.split(" [Cod:");
        // var fullname = arr[0];
        // var idp = arr[1].split("]")[0];
        // $("#id_paciente").html(idp);
        // $("#fullname").val(fullname);
    }
        function paciente_get(){
            $.post('/paciente_get', {
                idp: '<%=idp%>'
            }, function(dt, textStatus, xhr) {
                $("#fullname").val(dt[0].fullname);
                $("#yearold").val(dt[0].yearold);
                $("#datetime").val(dt[0].datetime.split('T')[0]);
                $("#telephone").val(dt[0].telephone);
                $("#optica").val(dt[0].optica);
            });
        }
        function paciente_register(){
            
            $("#loading").show();
            paciente_verifyXfullname(function(dt){
                if( dt.length > 0 ){
                    $("#fullname").select();
                    alert("Paciente existente, 'no se puede registrar el mismo paciente 2 veces'");
                    $("#loading").hide();
                    return;
                }
                var obj_in = {
                    id_paciente: <%=idp%>
                    ,fullname: $("#fullname").val()
                    ,yearold: $("#yearold").val()
                    ,datetime: $("#datetime").val()
                    ,telephone: $("#telephone").val()
                    ,optica: $("#optica").val()
                } 
                var err = verify(obj_in);
                if(err){
                    $("#loading").hide();
                    return;
                }


                $.post('/paciente_register', obj_in , function(idp, textStatus, xhr) {
                    <%if(idp!=0){%>
                        $("#alert_msn").html("Se a actualizo con exito.")
                        .removeClass("alert-success").addClass('alert-info');
                    <%}else{%>
                        $("#alert_msn").html("Se a registrado con exito.");
                    <%}%> 

                    if(!idp)
                        alert('Lo sentimos, ocurrio un error inesperado, si el problema persiste, comunicarse el desarrollador');
                    else{
                        $("#alert_msn").fadeIn("slow"); 
                        setTimeout(function(){
                            $("#alert_msn").fadeOut("slow");
                            <%if(idp!=0){%>
                                window.location.href='admin_mypatients';
                            <%}else{%>
                                window.location.href='admin_newrecipe?idp='+idp+"&fullname="+obj_in.fullname;
                            <%}%>
                        },3000);
                        clearForm();
                    }
                    $("#loading").hide();
                    
                });
            });
            
        }
        function verify(obj_in){
            var err = false;
            for(i in obj_in){
                //para verificar
                if(obj_in[i] == "" || obj_in[i] == 0 || obj_in[i] == 'Seleccione' ){
                    //exeptions
                    if( i == 'yearold' || i=='telephone' || i=='id_paciente' )
                        continue;
                    err =true;
                    $("#"+i).css('background','#FFDEDE');
                }
            }
            return err;
        }
        function clearForm(){
            $(".panel-body input").val("");
            $("#datetime").val($l.getFechaStr(new Date()));
        }
    </script>
</body>
</html>
