<% include layout/headboard.html %>
<% include layout/login.html %>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="lib/sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">
              <br>Inicio de Sessión</h2>
          <hr class="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" align="center">
          <img class="img-fluid" src="img/access1.png">
        </div>
        <div class="col-lg-6">
          <span class="">
            <div class="form-group">
              <label>Correo</label>
              <input type="text" class="form-control"  id='user_name' value="" placeholder="Ingrese su user_name o correo registrado">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" id='password' value="" placeholder="Ingrese su contraseña registrada" onkeyup='user_logear()'>
            </div>
            <!-- <div class="form-group"><a href="register">Soy nuevo</a></div> -->
            <p>¿No tienes cuenta? <a href='#'>Registrarme.</a></p>
            <div class=''>
              <button type="button" class="btn btn-primary btn-lg" onclick='user_logear()'>Ingresar</button>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>

  <script src="lib/sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="lib/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/init.js"></script>
  <script>
  	$(document).ready(function() {
  		$("#menu1 a").removeClass('active');
  		$("#menu1 a[href=login]").addClass('active');
  	});
    function user_logear(){
      $.post('/user_logear', {
        user_name: $("#user_name").val()
        ,password: $("#password").val()
      }, function(dt, textStatus, xhr) {
        if(dt)
          window.location.href="admin";        
      });
    }
  </script>
</body>
</html>