<% include layout/headboard.html %>
<% include layout/login.html %>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="lib/sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Optica Innova</a>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contact">Contactanos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-secondary disabled" style='color:orange;' href="login">Iniciar Sessión</a>
      </li>
    </ul>
    </div>
  </nav>
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-center">
              <br>Inicio de Sessión</h2>
          <hr class="">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6" align="center">
          <img class="img-fluid" src="img/access1.png">
        </div>
        <div class="col-lg-6">
          <span class="">
            <div class="form-group">
              <label>Correo</label>
              <input type="text" class="form-control"  id='user_name' value="" placeholder="Ingrese su nombre de Usuario o correo registrado" autofocus="">
            </div>
            <div class="form-group">
              <label>Contraseña</label>
              <input type="password" class="form-control" id='password' value="" placeholder="Ingrese su contraseña registrada" onkeyup='user_logear(event)'>
            </div>
            <!-- <div class="form-group"><a href="register">Soy nuevo</a></div> -->
            <p>¿No tienes cuenta? <a href='#'>Registrarme.</a></p>
            <div class=''>
              <button type="button" class="btn btn-primary btn-lg" onclick='user_logear()'><img src="img/gif/loading2.gif" width="28" id='loading' style='display: none;'> Ingresar</button>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script src="lib/sb-admin-2/vendor/jquery/jquery.min.js"></script>
  <script src="lib/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="js/init.js"></script>
  <script>
  	$(document).ready(function() {
  		$("#menu1 a").removeClass('active');
  		$("#menu1 a[href=login]").addClass('active');
  	});
    function user_logear(e){
      // console.log(e);
      if(e != undefined) 
        if(e.keyCode != 13)
          return;
      $("#loading").show();
      $.post('/user_logear', {
        user_name: $("#user_name").val()
        ,password: $("#password").val()
      }, function(dt, textStatus, xhr) {
        $("#loading").hide();
        if(dt)
          window.location.href="admin";   
        else
          alert("Usuario o Contraseña Incorrecta, intentelo nuevamente");     
      });
    }
  </script>
</body>
</html>