<% headboard_virtual_brokerage = function(){
	var dhg = `
		
  <div class="bg-faded section search_base">
    <br>
    <div class="container">
      <div class="form-group row justify-content-center">
        <input type="text" class="form-control col-md-5" placeholder="Buscar...">
        <select class="form-control col-md-1 ">
          <option value="Todos">Todos</option>
          <option value="Vendo">Vendo</option>
          <option value="Compro">Compro</option>
          <option value="Arriendo">Arriendo</option>
          <option value="Busco">Busco</option>
          <option value="Ofrezco">Ofrezco</option>
          <option value="Permuto">Permuto</option>
        </select>
        <select class="form-control col-md-2 ">
          <option value="Arica y Parinacota">Arica y Parinacota</option>
          <option value="Tarapacá">Tarapacá</option>
          <option value="Antofagasta">Antofagasta</option>
          <option value="Atacama">Atacama</option>
          <option value="Coquimbo">Coquimbo</option>
          <option value="Valparaíso">Valparaíso</option>
          <option value="O'Higgins">O'Higgins</option>
          <option value="Maule">Maule</option>
          <option value="Bío Bío">Bío Bío</option>
          <option value="Araucanía">Araucanía</option>
          <option value="Los Ríos">Los Ríos</option>
          <option value="Los Lagos">Los Lagos</option>
          <option value="Los Aysén">Los Aysén</option>
          <option value="Los Magallanes y Antártica">Los Magallanes y Antártica</option>
        </select>
        <button class="btn btn-secondary col-md-1">Buscar</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="nav_categoria">
            <li class="nav-item">
              <a href="#" class="active nav-link">Todos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Vendo</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Compro</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Arriendo</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Busco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ofrezco</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Permuto</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section subcategoria1">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills" style="font-size:14px;">
            <li class="nav-item">
              <a href="#" class="active nav-link">Automotriz</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Para el Hogar</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Propiedades</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Vestuario y Accesorios</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Electrónica</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Negocios y Empleos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Entretenimiento y Pasatiempos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Otros</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
	`;
	return dhg;
} %>
<% index = function(){
	var dhg=`
		<div class="section">
		    <div class="container">
		      <div class="row">
		        <div class="col-lg-7">
		          <img class="center-block img-fluid" src="http://www.redempresarial.cl/attachments/Image/mapa_hover.png">
		        </div>
		        <div class="col-lg-5 ">
		          <ul class="list-group city_select">
		            <li class="list-group-item" onclick="window.location.href='/bolsa_trabajo_1';">Arica y Parinacota</li>
		            <li class="list-group-item">Tarapacá</li>
		            <li class="list-group-item">Antofagasta</li>
		            <li class="list-group-item">Atacama</li>
		            <li class="list-group-item">Coquimbo</li>
		            <li class="list-group-item">Valparaíso</li>
		            <li class="list-group-item">O'Higgins</li>
		            <li class="list-group-item">Maule</li>
		            <li class="list-group-item">Bío Bío</li>
		            <li class="list-group-item">Araucanía</li>
		            <li class="list-group-item">Los Ríos</li>
		            <li class="list-group-item">Los Lagos</li>
		            <li class="list-group-item">Los Aysén</li>
		            <li class="list-group-item">Los Magallanes y Antártica</li>
		          </ul>
		        </div>
		      </div>
		    </div>
		  </div>
	`;
	return dhg;
}
	
%>