<% include layout/platform.html %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ADMIN</title>
    <link href="lib/sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="lib/sb-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="lib/sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>

<body onload="menu_active()">
    <!-- /#wrapper -->
    <%-menu()%>
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">Panel de Control v.1.0</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Bienvenido a la la familia.
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p>Bienvenido estimado Usuario, se encuentra en el panel de control de su cuenta, usted puede gozar de los privilegios que se encuentra en el menu lado izquierdo.</p>
                                    <p>Encontrara una serie de opciones disponibles, para que pueda administrar su cuenta, realizar actualizaciones, escribir post, entre otras novedades que se vendras, desde aqui, le enviamos un fuente salido desde la Comunidad Inmigrante.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="lib/sb-admin-2/vendor/jquery/jquery.min.js"></script>
    <script src="lib/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
    <script src="lib/sb-admin-2/dist/js/sb-admin-2.js"></script>


</body>
</html>
