<% headboard_career_opportunities = function(){
  var dhg = `
    
  <div class="bg-faded section search_base">
    <br>
    <div class="container">
      <div class="form-group row justify-content-center">
        <input type="text" class="form-control col-md-5" placeholder="Buscar...">
        <select class="form-control col-md-1 " style='display:none;'>
          <option value="Todos">Todos</option>
          <option value="Vendo">Vendo</option>
          <option value="Compro">Compro</option>
          <option value="Arriendo">Arriendo</option>
          <option value="Busco">Busco</option>
          <option value="Ofrezco">Ofrezco</option>
          <option value="Permuto">Permuto</option>
        </select>
        <select class="form-control col-md-2 ">
          <option value="Todos">En todos los lugares</option>
          <option value="Arica y Parinacota">Arica y Parinacota</option>
          <option value="Tarapacá">Tarapacá</option>
          <option value="Antofagasta">Antofagasta</option>
          <option value="Atacama">Atacama</option>
          <option value="Coquimbo">Coquimbo</option>
          <option value="Valparaíso">Valparaíso</option>
          <option value="O'Higgins">O'Higgins</option>
          <option value="Maule">Maule</option>
          <option value="Bío Bío">Bío Bío</option>
          <option value="Araucanía">Araucanía</option>
          <option value="Los Ríos">Los Ríos</option>
          <option value="Los Lagos">Los Lagos</option>
          <option value="Los Aysén">Los Aysén</option>
          <option value="Los Magallanes y Antártica">Los Magallanes y Antártica</option>
        </select>
        <button class="btn btn-secondary col-md-1">Buscar</button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="nav_categoria">
            <li class="nav-item">
              <a href="#" class="nav-link active">Busco</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Me ofrezco</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="section subcategoria1">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills" style="font-size:14px;">
            <li class="nav-item">
              <a href="#" class="active nav-link">Todos</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Administración, contabilidad y finanzas</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Diseño</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Ingenierías</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Seguros</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Comercial, Ventas y Negocios</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Ver todas las categorias</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  `;
  return dhg;
} %>