
<% index = function(){
	var dhg = `
		<div class="section">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-12">
		          <h2 class="text-center">
		              <br>Inicio de Sessión</h2>
		          <hr class="">
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-6" align="center">
		          <img class="img-fluid" src="img/access1.png">
		        </div>
		        <div class="col-lg-6">
		          <form class="" action="/access">
		            <div class="form-group">
		              <label>Correo</label>
		              <input type="text" class="form-control"  name='usuario_name' value="luis.torres" placeholder="Ingrese su user_name o correo registrado">
		            </div>
		            <div class="form-group">
		              <label>Contraseña</label>
		              <input type="password" class="form-control" name='password' value="supermario123" placeholder="Ingrese su contraseña registrada">
		            </div>
		            <!-- <div class="form-group"><a href="register">Soy nuevo</a></div> -->
		            <p>¿No tienes cuenta? <a href='#'>Registrarme.</a></p>
		            <button type="submit" class="btn btn-primary">Ingresar</button>
		          </form>
		        </div>
		      </div>
		    </div>
		  </div>
	`;
	return dhg;
}
	
%>

<% new_account = function(){
	var dhg = `
		<div class="section">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-12">
		          <h2 class="text-center">
		              <br>Registro de Cuenta</h2>
		          <hr class="">
		        </div>
		      </div>
		      <div class="row">
		        <div class="col-lg-6" align="center">
		          <img class="img-fluid" src="img/access1.png">
		        </div>
		        <div class="col-lg-6">
		          <form class="" action="/access">
		            <div class="form-group">
		              <label>Correo</label>
		              <input type="text" class="form-control"  name='usuario_name' value="luis.torres" placeholder="Ingrese su user_name o correo registrado">
		            </div>
		            <div class="form-group">
		              <label>Contraseña</label>
		              <input type="password" class="form-control" name='password' value="supermario123" placeholder="Ingrese su contraseña registrada">
		            </div>
		            <!-- <div class="form-group"><a href="register">Soy nuevo</a></div> -->
		            <p>¿No tienes cuenta? <a href='#'>Registrarme.</a></p>
		            <button type="submit" class="btn btn-primary">Ingresar</button>
		          </form>
		        </div>
		      </div>
		    </div>
		  </div>
	`;
	return dhg;
}
	
%>